.icon {
    display: flex;
    width: 250px;
    height: 50px;
    border: solid #707070;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    background-color: #707070;
    color: #F4ECE5;
    box-shadow: 1px 2px 0px 0px black;
}

.infiniteScroll {
    display: flex;
    height: 420px;
    overflow: auto;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #F4ECE5;
    border-radius: 10px;

}
