.productForm {
    border: solid #F4ECE5;
    border-radius: 50px;
    height: 600px;
    width: 315px;
    background-color: hsl(0, 0%, 87%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploadButtonStyle {
    font-family: 'Zen Dots', cursive;
    margin-bottom: 10px;
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #707070;
    color: #F4ECE5;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 0px 0px black;
}

.content {
    /*padding: 8px 12px;*/
    float: left;
    height: 95px;
    width: 95px;
    margin: 5px;
}

.pictureSize {
    height: 95px;
    width: 95px;
    padding: 5px;
}


.StyledContainer {
    /*border: solid green;*/
    display: inline-block;
    background-color: #ddd;
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
    white-space: nowrap;
    height: 500px;
    width: 315px;
}


.container {
    /*border: solid red;*/
    height: 440px;
    width: 315px;
}

.handle {
    display: flex;
    width: 95px;
    height: 95px;
    background-color: transparent;
    overflow: hidden;
    cursor: grab;
    position: absolute;
    z-index: 2;
}

.resize {
    height: 50px;
    width: 50px;
}

.iconEye {
    display: flex;
    z-index: 3;
    color: black;
    position: absolute;
    font-size: 35px;
}

.overAllSize {
    border: solid;
    height: 650px;
    width: 350px;
    background: linear-gradient(hsl(222, 100%, 16%), hsl(243, 19%, 45%));
    display: flex;
    justify-content: center;
    align-items: center;
}

